// ? colours
$primaryColor : rgba(2,130,249,255);
$secondaryColor: rgba(28,28,28,255);
$colorText : #fff;
$bgColor : rgba(48,48,48,255);

// ? backgrounds
$accentBg : #dae7fd;

// § standard sections margins
$sectionsMargin: 1.85rem;